<div class="movie-item">
  <div class="postal-hold">
    <svg (click)="addFavouraite($event)" [ngClass]="{'isFavourite': movie.isFavourite}" [id]="movie.id"
      xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="#DF691A"
      stroke-width="3" stroke-linecap="square" stroke-linejoin="arcs">
      <path [id]="movie.id"
        d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
      </path>
    </svg>
    <img [src]="movie.imageUrl" [alt]="getBackPostalTitle()">
  </div>
  <div class="movie-info">
    <h1>{{ movie.title | formattext:18 }}</h1>
    <p class="rating"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill=""
        stroke="#000000" stroke-width="1" stroke-linecap="square" stroke-linejoin="arcs">
        <polygon
          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
        </polygon>
      </svg> {{ movie.rating }} </p>
    <p> {{ movie.date | date }} </p>
  </div>
</div>
