section,
h2 {
  margin: 20px;
  color: #a09191;
}

a {
  color: #fafafa;
}

a:hover {
  box-shadow: 1px 1px 5px #313131;
}

.page-count {
  display: flex;
  justify-content: center;
}

.page-count p {
  display: inline-block;
  color: #fafafa;
  padding: 10px;
  border: 50%;
  background-color: #313131;
  margin: 10px;
  cursor: pointer;
}

.page-count p:hover {
  background-color: #313131b3;
}

.page-count .active-page {
  background-color: #a09191;
}

.view-more {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.view-more p {
  padding: 20px;
  background-color: #313131;
  cursor: pointer;
  display: inline;
  color: #a09191;
}

@media screen and (min-width: 500px) {
  section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  section {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 30px 20px;
    width: 95vw;
    margin: auto;
  }
}
