section {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  height: 100vh;
  width: 100vw;
  filter: blur(4px);
}

.form-hold svg {
  position: absolute;
  top: 12vh;
  right: 10px;
}

form {
  position: absolute;
  width: 80vw;
  top: 12vh;
  right: 10px;
  text-align: right;
}

.search-icon-hold svg {
  position: absolute;
  top: 12vh;
  right: 10px;
  opacity: 0.5;
  cursor: pointer;
}

.hide-icon {
  display: none;
}

img {
  position: absolute;
  width: 85vw;
  left: 10px;
  bottom: 2vh;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  border-bottom: 2px solid #fafafa;
  font-size: 16px;
  color: #fafafa;
  padding: 5px;
  width: 0;
  opacity: 0;
  transition: all 200ms;
}

.show-search {
  width: 100%;
  opacity: 1;
}

input::placeholder {
  color: #fafafa;
}

div {
  display: none;
}

@media screen and (min-width: 500px) {
  section {
    height: 70vh;
  }

  img {
    width: 30vh;
    top: 14vh;
  }

  .show-search {
    width: 30vw;
    opacity: 1;
  }

  form,
  .search-icon-hold svg,
  .form-hold svg {
    right: 2vw;
  }

  div {
    position: absolute;
    top: 58vh;
    right: 0;
    display: block;
    color: #fafafa;
    background-color: #0c0c0c74;
    padding: 10px 30px;
    text-align: right;
  }

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 12px;
  }
}
